<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="nh.overlay">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="30"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application android:label="nh menu" android:allowBackup="false">
        <activity android:name=".MainActivity" android:exported="true"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".OverlayService" android:exported="false"/>
    </application>
</manifest>
